In [1]:
import pandas as pd

In [2]:
import datetime
print(f"Last updated: {datetime.datetime.now()}")

Last updated: 2023-12-08 14:34:08.739893

In [3]:
import numpy as np

In [4]:
print(np.__version__)

1.26.2

# 1. Data Types and Attributes

In [5]:
#the main type in numpy is ndarray, even seeminglydifferent kinds of arrays are still
#ndarray's.

In [6]:
# 1 - dimensional array, also called a vector
a1 = np.array([1,2,3])
# 2 - dimensional array, also referred to as a matrix
a2 = np.array([[1,2.0,3.3],
               [4,5,6.5]])
# 3 - dimensional array also called a matrix as well. 
a3 = np.array([[[1,2,3],
               [4,5,6],
               [7,8,9]],
              [[10,11,12],
               [13,14,15],
               [16,17,18]]] )

In [7]:
a1.shape, a1.ndim, a1.dtype,a1.size, type(a1)

((3,), 1, dtype('int64'), 3, numpy.ndarray)

In [8]:
a2.shape, a2.ndim, a2.dtype, a2.size, type(a2)

((2, 3), 2, dtype('float64'), 6, numpy.ndarray)

In [9]:
a3.shape, a3.ndim, a3.dtype, a3.size, type(a3)

((2, 3, 3), 3, dtype('int64'), 18, numpy.ndarray)

In [10]:
a1

array([1, 2, 3])

In [11]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [12]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])


![](numpy-anatomy-of-an-array-updated.png)

In [13]:
#credit to MrdBourke for the image

In [14]:
# Use ![](file path) to insert a photo

In [15]:
#Key terms

In [16]:
# Array = a list of numbers can be multi-deminsional

In [17]:
# Scalar = a single number

In [18]:
# Vector = a list of numbers with 1-dimension

In [19]:
# Matrix = A (usually) multi demensional list of numbers

# Pandas DataFrame out of NumPy arrays

In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame(np.random.randint(10, size=(5,3)),
                  columns=['a', 'b', 'c'])
df

   a  b  c
0  4  4  5
1  6  1  9
2  9  6  8
3  1  5  1
4  7  8  3

In [22]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [23]:
df2 = pd.DataFrame(a2)
df2

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

# Creating Arrays

In [24]:
#np.array()
simple_array = np.array([1,2,3])
simple_array, simple_array.dtype

(array([1, 2, 3]), dtype('int64'))

In [25]:
#np.ones()
ones= np.ones((10,2))
ones, ones.dtype #defautl data type is float64
#ones.astype(int) will change the tyep.

(array([[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]]),
 dtype('float64'))

In [26]:
zeros = np.zeros((5,3,3))
zeros

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [27]:
#An array with a range of values

In [28]:
range_array = np.arange(0, 10, 2)
range_array
#looking at the output it gives us an array that starts at 0, goes by 2's but stops 
#before 10

array([0, 2, 4, 6, 8])

In [29]:
range_array2 = np.arange(0,16,4)
range_array2
#lets try again. Looks lik the first number you pass is the beginnign number
#the second number is the upper range meaning it ends BEFORE that number
#the last number is how it invrements so this range will go by 4's

array([ 0,  4,  8, 12])

In [30]:
#random array
random_array = np.random.randint(10, size=(5,3))
random_array

array([[2, 0, 4],
       [9, 6, 6],
       [5, 5, 1],
       [1, 9, 0],
       [3, 6, 8]])

In [31]:
#looking at out array it has the size 5 rows 3 columns, and all the numbers are less
#than 10. Lets try another set up

In [32]:
random_array2 = np.random.randint(10, size = (15,2))
random_array2

array([[5, 9],
       [1, 9],
       [4, 0],
       [3, 1],
       [1, 7],
       [9, 2],
       [6, 4],
       [2, 0],
       [4, 2],
       [9, 5],
       [2, 6],
       [7, 1],
       [5, 9],
       [7, 5],
       [2, 8]])

In [33]:
#Random Floats between 0, 1
np.random.random((5,3))

array([[0.57577384, 0.30934885, 0.6874872 ],
       [0.37199782, 0.25359541, 0.76257517],
       [0.50850043, 0.66588839, 0.72440221],
       [0.02220078, 0.27253447, 0.92929662],
       [0.1875653 , 0.33882752, 0.60497321]])

In [34]:
#Random 5X3 array of floats similar to above
np.random.rand(5,3) # makes sure you pay attention to how the argument is doen

array([[0.28776405, 0.77519866, 0.93815584],
       [0.55047693, 0.07544452, 0.43047836],
       [0.89464956, 0.10533339, 0.1157348 ],
       [0.65183984, 0.31814686, 0.38487551],
       [0.54951248, 0.79171289, 0.77628354]])

In [35]:
#numpy uses pseudo random numbers. Esentially they look random but are not. for consistancy
#you can keep the random numbers you generate similar throughout experiments. to do this
#use np.random.see()
#this tells NumPy I want random numbers aligned to this seed.

In [36]:
#set random seed to 0
np.random.seed(0)
#make "random" numbers
np.random.randint(10, size=(5,3))

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

In [37]:
#now because of seed being in the cell everytime you run it you will get same random
#numbers

In [38]:
#because random.seed is set to 0 the random numbers are the same as the cell with 
#np.random.seed() set to 0 as well.
#setting the seed is not 100% needed but it is helpful to keep numers the same throughout
#say you wanted two sets of data training and test sets. everytime you randomly split 
# you might get diff rows in eah set if you shared it theyd get diff rows too
#setting np.random.seed() ensures theres still randomness it just makes the randomness 
#repeatable

In [39]:
np.random.seed(0)
df = pd.DataFrame(np.random.randint(10, size=(5,3)))
df

   0  1  2
0  5  0  3
1  3  7  9
2  3  5  2
3  4  7  6
4  8  8  1

# What unique values are in array a3

In [40]:
np.unique(a3)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18])

# 3. Viewing arrays and matrices(indexing)

In [41]:
a1

array([1, 2, 3])

In [42]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [43]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [44]:
#array shaes are always listed in the format (row, column, n,n,,n) where 
# n = optinal extra dimenssions

In [45]:
a1[0]

1

In [46]:
a2[0]

array([1. , 2. , 3.3])

In [47]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [48]:
#if we wanted th 2nd row(index 1) of a2
a2[1]

array([4. , 5. , 6.5])

In [49]:
#what about the first 2 values of the first 2 rows of both arrays
a3[:2, :2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [50]:
#NumPy arrays get printed from outside to inside. This means the number at the end of
#the shape comes first and the number at the start of the shape comes last.

In [51]:
a4 = np.random.randint(10, size=(2,3,4,5))
a4

array([[[[6, 7, 7, 8, 1],
         [5, 9, 8, 9, 4],
         [3, 0, 3, 5, 0],
         [2, 3, 8, 1, 3]],

        [[3, 3, 7, 0, 1],
         [9, 9, 0, 4, 7],
         [3, 2, 7, 2, 0],
         [0, 4, 5, 5, 6]],

        [[8, 4, 1, 4, 9],
         [8, 1, 1, 7, 9],
         [9, 3, 6, 7, 2],
         [0, 3, 5, 9, 4]]],


       [[[4, 6, 4, 4, 3],
         [4, 4, 8, 4, 3],
         [7, 5, 5, 0, 1],
         [5, 9, 3, 0, 5]],

        [[0, 1, 2, 4, 2],
         [0, 3, 2, 0, 7],
         [5, 9, 0, 2, 7],
         [2, 9, 2, 3, 3]],

        [[2, 3, 4, 1, 2],
         [9, 1, 4, 6, 8],
         [2, 3, 0, 0, 6],
         [0, 6, 3, 3, 8]]]])

In [52]:
a4.shape

(2, 3, 4, 5)

In [53]:
#get only the first 4 numbers of each single vector
a4[:,:,:,:4]

array([[[[6, 7, 7, 8],
         [5, 9, 8, 9],
         [3, 0, 3, 5],
         [2, 3, 8, 1]],

        [[3, 3, 7, 0],
         [9, 9, 0, 4],
         [3, 2, 7, 2],
         [0, 4, 5, 5]],

        [[8, 4, 1, 4],
         [8, 1, 1, 7],
         [9, 3, 6, 7],
         [0, 3, 5, 9]]],


       [[[4, 6, 4, 4],
         [4, 4, 8, 4],
         [7, 5, 5, 0],
         [5, 9, 3, 0]],

        [[0, 1, 2, 4],
         [0, 3, 2, 0],
         [5, 9, 0, 2],
         [2, 9, 2, 3]],

        [[2, 3, 4, 1],
         [9, 1, 4, 6],
         [2, 3, 0, 0],
         [0, 6, 3, 3]]]])

In [54]:
#a4's shape is (2,3,4,5) this means it gets displayed like so:
# inner most array = size 5 there is 5 columns accross
# next array size = 4 (there is 4 rows in each set,
#next array = size 3 theres 3 [[ chunkcs withint the 2
#outer most array = size 2  (the chunck of [[[ brackets theirs 2

# Manipulating and comparing Arrays

In [55]:
#Arithmetic
# +,1,*,/,//,**,%
#np.exp()
#np.log()
#np.dot()
#broadcasting

In [56]:
a1

array([1, 2, 3])

In [57]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [58]:
#lets add them together 
a1 + ones

array([2., 3., 4.])

In [59]:
#subtract
a1 - ones

array([0., 1., 2.])

In [60]:
#multiply
a1 * ones

array([1., 2., 3.])

In [61]:
a1.shape, a2.shape

((3,), (2, 3))

In [62]:
ones.shape

(3,)

In [63]:
#in order to multiply they need to be the same shape

In [64]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [65]:
#broadcasting
#this is when you perform actions across multi demension
#for example if you want to add a 3X3 to a 1X3 they will add all of the 1X3 to all 
#of 3X3

In [66]:
#RULES
# A. if the two arrays differ in their dimensions the shape of one with fewer dimensions
# is padded with the ones on its leading (left) side

In [67]:
# B. if the shape of the two arrays does not match in any dimension, the array with
# the shape equal to 1 in that dimension is stretched to match to the other shape.

In [68]:
# C. if in any dimension the sizes disgree and neither is equal to 1, an error is raised

In [69]:
#The broadcasting rule: In order to broadcast, the size of the trailing axes for 
#both arrays in an operation must be either the same size or one of them must be one.

In [70]:
a1

array([1, 2, 3])

In [71]:
a1.shape

(3,)

In [72]:
a2.shape

(2, 3)

In [73]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [74]:
a1 + a2

array([[2. , 4. , 6.3],
       [5. , 7. , 9.5]])

In [75]:
a2 + 2

array([[3. , 4. , 5.3],
       [6. , 7. , 8.5]])

In [76]:
#divide
a2/ones

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [77]:
#divide using floor division
a2//a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [78]:
#take an array to a power
a1 ** 2

array([1, 4, 9])

In [79]:
#you can also use np.square()
np.square(a1)

array([1, 4, 9])

In [80]:
#Modulus divide (what's the remainder)
a1 % 2

array([1, 0, 1])

In [81]:
#log
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

In [82]:
#exponential
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [83]:
# Aggregation
#np.sum() faster than Pythons .sum() for NumPy arrays
#np.mean()
#np.std()
#np.var()
#np.min()
#np.max()
#np.argmin()
#np.argmax()
#these all work on ndarrays
    #a4.min(axis=0) can use axis as well.

In [84]:
# this brings things together doing a similar thing on a number of thignss

In [85]:
sum(a1)

6

In [86]:
np.sum(a1)

6

In [87]:
# TIP Use NumPys np.sum() on NumPy arrays and pythons sum() on PYTHON lists

In [88]:
massive_array = np.random.random(100000)
massive_array.size, type(massive_array)

(100000, numpy.ndarray)

In [89]:
%timeit sum(massive_array) #pyton sum()
%timeit np.sum(massive_array) #NumPy np.sum()

11 ms ± 733 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
57.4 µs ± 4.37 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [90]:
import random
massive_list = [random.randint(0, 10) for i in range(100000)]
len(massive_list), type(massive_list)

(100000, list)

In [91]:
massive_list[:10]

[0, 1, 8, 10, 10, 8, 4, 6, 4, 6]

In [92]:
%timeit sum(massive_list)
%timeit np.sum(massive_list)

973 µs ± 44.7 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
6.73 ms ± 351 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [93]:
#numpys np.sum is still fast but pythons sum() is faster on ythons list

In [94]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [95]:
#find the mean/average

In [96]:
np.mean(a2)

3.6333333333333333

In [97]:
#find the max
np.max(a2)

6.5

In [98]:
#find the min
np.min(a2)

1.0

In [99]:
#find the standard deviation / spread of the numbers
np.std(a2)

1.8226964152656422

In [100]:
#find the variance (finds the  mean for each number then subracts mean form all number,
#then squares the result and finds the average of quared differences. 
np.var(a2)

3.3222222222222224

In [101]:
#the standard deviation is the square root of the variance
np.sqrt(np.var(a2))

1.8226964152656422

In [102]:
#reshaping
#np.reshape()
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [103]:
a2.shape

(2, 3)

In [104]:
a2 + a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [ ]:
#gives error so we need to

In [ ]:
a2.reshape(2,3,1)

In [ ]:
a2.reshape(2,3,1) + a3

In [ ]:
#transposing
#a3.T

In [ ]:
#transpose reverses the order of the axes (2,3) goes to (3,2)

In [ ]:
a2.shape

In [ ]:
a2.T

In [ ]:
a2.transpose()

In [ ]:
a2.T.shape

In [ ]:
#for bigger ones the default is to transpose first and last

In [105]:
matrix = np.random.random(size=(5,3,3))
matrix

array([[[0.59816399, 0.17370251, 0.49752936],
        [0.51231935, 0.41529741, 0.44150892],
        [0.96844105, 0.23242417, 0.90336451]],

       [[0.35172075, 0.56481088, 0.57771134],
        [0.73115238, 0.88762934, 0.37368847],
        [0.35104994, 0.11873224, 0.72324236]],

       [[0.93202688, 0.09600718, 0.4330638 ],
        [0.71979707, 0.06689016, 0.20815443],
        [0.55415679, 0.08416165, 0.88953996]],

       [[0.00301345, 0.30163886, 0.12337636],
        [0.13435611, 0.51987339, 0.05418991],
        [0.11426417, 0.19005404, 0.61364183]],

       [[0.23385887, 0.13555752, 0.32546415],
        [0.81922614, 0.94551446, 0.12975713],
        [0.35431267, 0.37758386, 0.07987885]]])

matrix.shape

In [106]:
matrix.T

array([[[0.59816399, 0.35172075, 0.93202688, 0.00301345, 0.23385887],
        [0.51231935, 0.73115238, 0.71979707, 0.13435611, 0.81922614],
        [0.96844105, 0.35104994, 0.55415679, 0.11426417, 0.35431267]],

       [[0.17370251, 0.56481088, 0.09600718, 0.30163886, 0.13555752],
        [0.41529741, 0.88762934, 0.06689016, 0.51987339, 0.94551446],
        [0.23242417, 0.11873224, 0.08416165, 0.19005404, 0.37758386]],

       [[0.49752936, 0.57771134, 0.4330638 , 0.12337636, 0.32546415],
        [0.44150892, 0.37368847, 0.20815443, 0.05418991, 0.12975713],
        [0.90336451, 0.72324236, 0.88953996, 0.61364183, 0.07987885]]])

In [107]:
matrix.T.shape

(3, 3, 5)

In [108]:
matrix.T.shape == matrix.shape[::-1]

True

# dot product

In [ ]:
#inner dimensoins munst match
# (3,2) @ (3,2) wont work
# (2,3) @ (3,2) will work

In [ ]:
#the resulting matrix has the shape of the outer dimensions.
#(2,3) @ (3,2) -> (2,2)

In [109]:
#NumPy np.dot() and @ can be used the samefor 1-2 dimension arrays, but 3+ they will differ

In [110]:
np.random.seed(0)
mat1 = np.random.randint(10, size=(3,3))
mat2 = np.random.randint(10, size=(3,2))

mat1.shape, mat2.shape

((3, 3), (3, 2))

In [111]:
mat1

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2]])

In [112]:
mat2

array([[4, 7],
       [6, 8],
       [8, 1]])

np.dot(mat1,mat2)

In [113]:
mat1 @ mat2

array([[ 44,  38],
       [126,  86],
       [ 58,  63]])

In [114]:
#comparison operators
# >< <= >= x != 3 x==3 np.sum(x>3)

In [115]:
a1

array([1, 2, 3])

In [116]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [117]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [118]:
a1 > a2

array([[False, False, False],
       [False, False, False]])

In [119]:
a1 >= a2

array([[ True,  True, False],
       [False, False, False]])

In [120]:
a1 > 5

array([False, False, False])

In [121]:
a1 == a1

array([ True,  True,  True])

In [122]:
a1 == a2

array([[ True,  True, False],
       [False, False, False]])

# Sorting Arrays

In [123]:
random_array

array([[2, 0, 4],
       [9, 6, 6],
       [5, 5, 1],
       [1, 9, 0],
       [3, 6, 8]])

In [124]:
np.sort(random_array)

array([[0, 2, 4],
       [6, 6, 9],
       [1, 5, 5],
       [0, 1, 9],
       [3, 6, 8]])

In [125]:
np.argsort(random_array)

array([[1, 0, 2],
       [1, 2, 0],
       [2, 0, 1],
       [2, 0, 1],
       [0, 1, 2]])

In [126]:
a1

array([1, 2, 3])